[v-cloak] {
  display: none;
}

.dblog-ui-data-loading tr {
  opacity: 0.25;
}

.dblog-ui-data-loading .dblog-ui-placeholder {
  opacity: 1;
}

.dblog-ui-filters .form-item {
  display: inline-block;
  margin: .1em .9em .1em .1em;
  max-width: 30%;
}

.dblog-ui-filters .form-actions {
  padding: 3ex 0 0;
  vertical-align: top;
}

.dblog-ui-transition tr {
  transition: all .55s ease;
}

.admin-dblog-ui .icon {
  background: no-repeat center;
  width: 16px;
}

.admin-dblog-ui .dblog-warning.icon {
  background-image: url(../images/warning.svg);
}

.admin-dblog-ui .dblog-error,
.admin-dblog-ui .dblog-critical,
.admin-dblog-ui .dblog-alert,
.admin-dblog-ui .dblog-emergency {
  background-image: url(../images/error.svg);
}
